
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}
h2{
    font-size:40px;
    line-height: 64px;
    color:black;
    text-decoration: none;
    text-align: center;
}
h1{
    font-size:50px;
    line-height: 64px;
    color:black;
    text-decoration: none;
    text-align: center;
}
h6{
    font-size:20px;
    line-height: 64px;
    color:black;
    text-decoration: none;
    text-align: center;
}
h4{
    font-size:30px;
    line-height: 64px;
    color:black;
    text-decoration: none;
}
p{
    font-size: 25px;
    color:#465b52;
    margin: 10px 0 10px 0;
    text-decoration: none;
}
.section-p1{
    padding: 40px 80px;
}
.section-m1
{
    margin:40px 0;
}
body{
    width:100%;
}
#header
{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 10px;
    background:white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top:0;
    left:0;
}

.search{
    width:800px;
    height: 50px;
    background-color: white;
    border-radius: 60px;
    border-color: black;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
}
.search-bar
{
    width:600px;
    height:50px;
    border-radius: 60px;
    border-color:transparent;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    font-size: 20px;
    padding: 2%;
}
button{
    border:0;
    border-radius:50%;
    width:40px;
    height:40px;
    cursor: pointer;
    padding: 2%;
}

#navbar{
    
    display:flex;
    align-items:center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding-right: 10px;
    
}
#navbar li a{
    text-decoration: none;
    font-size: 20px;
    font-weight:60px;
    color:black;
    transition:0.3s ease;
}
#navbar li a:hover{
    color:aquamarine;

}
#sec1{
    background-image: url("/static/homeimage.webp");
    height: 60vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    background-repeat: no-repeat;
    padding:0 80px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#sec1 h1{
    font-size:50px;
    color:black;
    text-decoration: none;
}
#sec1 button{
    background-color:transparent;
    color: rgb(139, 52, 52);
    border:0;
    cursor:pointer;
    font-weight: 700;
    font-size: medium;
}
#shop
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#shop .fe-box{
    width: 500px;
    text-align: center;
    padding: 10px 10px;
    
    
    border-radius: 4px;
    margin: 15px 0;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .febox{
    width: 400px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}
#feature .febox:hover{
    box-shadow: 10px 20px 54px rgba(70,62,221,0.1);
}
#feature .febox:h6{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #cce7d0;
    display: inline-block;
}
