<html>

<head>
    <title>
        Address Book
    </title>

    <style>
        #start {
            justify-content: center;
            text-align: center;

        }

        #feature.box {
            width: 200px;
            padding: 25px 15px;
            box-shadow: 20px 20px 34px rgba(207, 199, 199, 0.03);
            border: 4px solid #a815c5;
            border-radius: 4px;
            margin: 5px 0;
        }
    </style>
</head>

<body>
    <div id="start">
        <h1>Address Book</h1>
        <h5>Save your addresses for a faster checkout experience</h5>
    </div>
    <section id="feature">

        <div class="box">


            <div>
                <a href="addaddress">
                    <h5>add new address</h5>
                </a>
            </div>
        </div>
        <p>{{st}}</p>
        <form action="../addressbook/{{st}}" method="post">
            {% csrf_token %}


            {% for detail in details%}
            <button type="submit" value="{{detail.id}}" name="addr">


                <div class="box">
                    <h2>{{detail.name}}</h2>
                    <p>{{detail.mobile}}</p>
                    <p>{{detail.flat}}</p>
                    <p>{{detail.area}}</p>
                    <p>{{detail.district}}</p>
                    <p>{{detail.state}}</p>
                    <p>India - {{detail.code}}</p>
                </div>
            </button>
            {% endfor %}
        </form>
    </section>
</body>

</html>