{% extends 'base.html' %}
{% load static %}
{% block title%}
bag

{% endblock %}

{% block css %}
    <style>
        #febox {
            max-width: 1150px;
            width: 100%;
            height: 20vh;
            padding: 10px 10px;
            box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
            border: 1px solid #cce7d0;
            display: flex;
            margin-right: 15px;
            border-radius: 4px;
            margin-bottom: 10px;
        }

        #febox .details {
            color: brown;
            margin-left: 10px;
        }

        #features {
            display: flex;

            flex-wrap: wrap;
        }

        #features .box {
            max-width: 200px;
            width: 100%;
            height: 80vh;


            padding: 10px 10px;
            box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
            border: 1px solid #cce7d0;
            
            margin-right: 15px;
            border-radius: 4px;
        }

        #features .boxfrm {
            max-width: 1200px;
            width: 100%;
            position: absolute;
            top: 60px;
            left: 250px;
            bottom: 0px;

            text-align: center;
            padding: 10px 10px;
            box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);

            border-radius: 4px;
        }

        #top {
            display: flex;
            justify-content: space-between;
            margin-left: 20px;
            margin-right: 20px;
        }

        button {
            background-color: rgb(143, 78, 78);
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        #inside {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between
        }
    </style>
{% endblock %}

{% block body%}

    <div id="top">
        <h1>My Bag</h1>
        <a href="whistlist/">+ Add from whistlist</a>

    </div>


    </div>
    <section id="features">
        <div class="boxfrm">
            {% for item in items %}
            <div id="febox">
                <div class="details">
                    <div id="inside">
                        <img src="{{item.image}}" height="150" width="150">
                        <div>
                            <h5 id='name'> {{item.name}}</h5>
                            <h5 id='prize'> {{item.prize}}</h5>
                        </div>
                        <a href="/bag/cartwhis/{{item.id}}"><button type="button" id="whis" class="whisbutton"
                                name="movetowhis">Move to Whistlist</button></a>
                        <a href="removecartitem/{{item.id}}"><button type="button" id="delete" class="deleteitem"
                                name="delete">Delete</button></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="box">
            <h2>Order details</h2>
            <h3>Bag Total: {{tprize}}</h3><br>
            <h4>Address:</h4>
            <div>
            <h2>{{detail.name}}</h2>
            <p>{{detail.mobile}}</p>
            <p>{{detail.flat}}</p>
            <p>{{detail.area}}</p>
            <p>{{detail.district}}</p>
            <p>{{detail.state}}</p>
            <p>{{detail.code}}</p>
            </div>
            <a href="/book/addressbook/buy">add/change address</a>
            <form method="post" action="/bag/mybag">
                {% csrf_token %}
            <button type="submit" name="place" value="{{tprize}}">Place Order</button>
        </form>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    

{% endblock %}