<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title%}{% endblock%}</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    {% block css %}{% endblock %}
</head>

<body>
    <section id="header">
        <a href="#"><img src="/static/logo.jpg" alt="logo" class="logo" width="150px" height="50px"></a>
        <div>
            <form action="/search" method="post">
                {% csrf_token %}
                <input type="text" class="search-bar" placeholder="search" name="searching">
                <!--<button type="submit"><img src="/static/search.png" height="100%" width="100%"></button></input>-->
            </form>
        </div>
        <div>
            {% if not request.user.is_authenticated %}
            <ul id="navbar">
                <li><a class=active href="/home">Home</a></li>
                <li><a href="../contact">Contact Us</a></li>
                <li><a href="../bag/whistlist">Whistlist</a></li>
                <li><a href="../bag/mybag">Bag</a></li>
                <li><a href="../members/signup">signup</a></li>
            </ul>
            {% else %}
            <ul id="navbar">
                <li><a class=active href="/home">Home</a></li>
                <li><a href="../book/account">{{request.user.first_name}} Account</a></li>
                <li><a href="../contact">Contact Us</a></li>
                <li><a href="../bag/whistlist">Whistlist</a></li>
                <li><a href="../bag/mybag">Bag</a></li>
                <li><a href="../members/logout">Logout</a></li>
            </ul>
            {% endif %}
        </div>
    </section>
    {%block body%}{% endblock%}
        <script src="/static/script.js"></script>
</body>