{% extends 'base.html' %}
{% load static %}
{% block title %}
home

{% endblock %}

{% block css %}
<style>
    #shop button {
        background-color: transparent;
        color: rgb(139, 52, 52);
        border: 0;
        cursor: pointer;
        font-weight: 700;
        font-size: medium;
    }
</style>
{% endblock %}
{% block body %}
<section id="sec1">
    <h1>Waste isn't waste until we waste it</h1>
    <h2>Put waste in the right place</h2>
    <p>Get money and buy products</p>
    <a href="book/sellwaste"><button id="butn">Sell now</button></a>
</section>
<section id="shop" class="section-p1">
    <div class="fe-box">
        <h1>Pick up where you left off</h1>
        <button id="butn"><a href="/itemsall">Shop now</a></button>
    </div>


    <div class="fe-box">
        <img src="/static/shop.webp" alt="shop" width="350px" height="300px">
    </div>
</section>
<h1>Featured Products</h1>
<section id="feature" class="section-p1">
    {% for item in items %}
    <div class="febox">
        <img src="{{item.image.url}}" alt="{{item.category}}" width="350px" height="300px">
        <h6><a href="/catsearch/{{item.category}}">{{item.category}}</a></h6>
    </div>
    {% endfor %}

</section>

{% endblock %}