{% extends 'base.html' %}
{% load static %}
{% block title%}
bag

{% endblock %}

{% block css%}
  <link href="/static/itemsall.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script>
    $(document).ready(function () {

      
      // add or increment code

      // $('.cart').click(function() {
      $('.bag').on('click', 'button.bagbutton', function () {
        var idstr = this.id.toString();

          if(document.getElementById('cart' + idstr).innerHTML =="Go To Bag")
          {
            location.href="cart"
          }

        
          else{
          document.getElementById('cart' + idstr).innerHTML = "Go To Bag";}
          



        })
      })
        
  </script>
{% endblock %}
{% block body%}
<body>
  <h1>items</h1>
  <section id="feature">
    {% for item in items %}
    <div class="febox">

      <img id="img{{item.id}}" src="{{item.image}}" alt="product" width="350px" height="300px">
      <div>
        <h5 id="name{{item.id}}">{{item.name}}</h5>
        <h5 id="prize{{item.id}}">{{item.prize}}</h5>
        <p>{{item.category}}</p>
        <span class="bag">
          <a href='bag/addtobag/{{item.id}}'><button type="button" id="{{item.id}}" class="bagbutton" name="addtobag"><span id="cart{{item.id}}">Add To
              Bag</span></button></span></a>
        <span class="whis">
          <a href="bag/addtowhis/{{item.id}}"><button type="button" id="{{item.id}}" class="whisbutton" name="savetowhistlist"><span
              id="fav{{item.id}}">Save to
              Whistlist</span></button></span>
      </div>
    </div>
    {% endfor %}
  </section>


{% endblock%}
