{% extends 'base.html' %}
{% load static %}
{% block title%}
login

{% endblock %}

{% block body%}
        <h1>Login<h1>
        <form action="login" method="post">
            {% csrf_token %}
            <label for="email">Email</label>
            <input type="email" id="email" name="email" Required><br><br>
            <label for="password">Password:</label>
            <input type="password" id="pass" name="password" Required><br>
            <input type="submit" name="sub" value="submit">
            <p>not user<a href="signup">signin</a></p>
          </form> 
          
{% endblock %}
