<html>
    <head>
        <title>
           My Account
        </title>
    </head>
    <body>
        <h1>My Account</h1>
        <li><a href="orders.html" target="two">Orders</a></li>
        <li><a href="kartwallet.html" target="two">Kart Wallet</a></li>
        <li><a href="personalinf.html" target="two">Personal Information</a></li>
        <li><a href="addressbook.html" target="two">Address Book</a></li>
        <li><a href="payments.html" target="two">Payments</a></li>
    </body>
</html>