{% extends 'base.html' %}
{% load static %}
{% block title%}
whistlist

{% endblock %}

{% block body%}


  <div id="top">
    <h1>My Whistlist</h1>

  </div>
  <section id="feature">
    {% for item in items%}
    <div class="febox">

      <div id="inside">
        <img src="{{item.image}}" height="150" width="150">
        <div>
          <h5 id='name'> {{item.name}}</h5>
          <h5 id='prize'> {{item.prize}}</h5>
        </div>
        <a href='{{item.id}}'>
          <button type="button" id="bag" class="bagbutton" name="addtobag">
            Add To Bag
          </button>
        </a>
        <a href='/bag/removewhisitem/{{item.id}}'>
          <button type="button" id="delete" class="deleteitem" name="delete">Delete</button>
        </a>
      </div>
    </div>
    {% endfor %}

  </section>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

{% endblock %}